<a href="https://colab.research.google.com/github/itscakee/Cash-Loan/blob/main/Home_Credit%20Rakamin%20Virtual%20Intership.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('application_test.csv')
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df['AMT_INCOME_TOTAL'].describe()

count    4.874400e+04
mean     1.784318e+05
std      1.015226e+05
min      2.694150e+04
25%      1.125000e+05
50%      1.575000e+05
75%      2.250000e+05
max      4.410000e+06
Name: AMT_INCOME_TOTAL, dtype: float64

In [51]:
df['AMT_INCOME_TOTAL'].unique()

array([ 135000.  ,   99000.  ,  202500.  ,  315000.  ,  180000.  ,
        270000.  ,  166500.  ,  162000.  ,   67500.  ,  247500.  ,
         90000.  ,  225000.  ,  175500.  ,  157500.  ,  337500.  ,
         76500.  ,  112500.  ,  360000.  ,  102150.  ,  171000.  ,
        121500.  ,  405000.  ,  211500.  ,  229500.  ,  144000.  ,
         40500.  ,   92250.  ,  279000.  ,   87750.  ,  126000.  ,
         45000.  ,  252000.  ,  495000.  ,  189000.  ,  333000.  ,
         81000.  ,  193500.  ,   63000.  ,   94500.  ,  292500.  ,
        198000.  ,  216000.  ,  540000.  ,  450000.  ,  103500.  ,
        206100.  ,  153747.  ,  117000.  ,   58500.  ,  234000.  ,
        675000.  ,  261000.  ,   72000.  ,  382500.  ,  148500.  ,
        301500.  ,   54000.  ,   56700.  ,  108000.  ,  288000.  ,
         85500.  ,  153000.  ,  387000.  ,   57150.  ,  207000.  ,
        254700.  ,   36000.  ,   47250.  ,  187398.  ,  130500.  ,
        306000.  ,  139500.  ,   74250.  ,  607500.  ,  265500.  ,
        256500.  , 1350000.  ,  220500.  ,  432000.  ,  101250.  ,
        274500.  ,  378000.  ,  324000.  ,   78750.  ,  297000.  ,
         83250.  ,  217350.  ,   51750.  ,   97920.  ,  441000.  ,
        161550.  ,  168750.  ,  136170.  ,  135931.5 ,   32850.  ,
        110250.  ,  567000.  ,  218250.  ,   51300.  ,  191250.  ,
        472500.  ,  342000.  ,   38754.  ,  141750.  ,  400500.  ,
        205200.  ,   46800.  ,   49500.  ,   48150.  ,  283482.  ,
        283500.  ,   66600.  ,  238500.  ,  585000.  ,  742500.  ,
         93150.  ,   82350.  ,  184500.  ,  328500.  ,  235327.5 ,
         75150.  ,   70200.  ,  562500.  ,  900000.  ,  351000.  ,
         95661.  , 1125000.  ,  102784.5 ,   78538.5 ,   72900.  ,
        243000.  ,   80100.  ,  720000.  ,  427500.  ,   44100.  ,
         60750.  ,  195750.  ,  945000.  ,   64350.  ,   85950.  ,
        139320.  ,  114750.  ,  423000.  ,  211950.  ,   71100.  ,
       2250000.  , 4410000.  ,   29250.  ,  666000.  ,  810000.  ,
        346500.  ,  990000.  ,  123750.  ,  232200.  ,   56250.  ,
        226867.5 ,  146250.  ,  172957.5 ,   27000.  ,  244651.5 ,
         34290.  ,  119250.  ,  179100.  ,  137583.  ,   31500.  ,
        144450.  ,   74799.  ,  177750.  ,  877500.  ,  630000.  ,
        214650.  ,   62437.5 ,   95368.5 ,  344250.  ,   40950.  ,
         95850.  ,  652500.  ,  206176.5 ,   68400.  ,  118350.  ,
         55350.  ,  122926.5 ,  211810.5 ,  173250.  ,  106560.  ,
        117450.  ,  105750.  ,  391500.  ,   96750.  ,  373554.  ,
         69750.  ,   89100.  ,   54396.  ,  369000.  ,  172498.5 ,
        257850.  ,   74304.  ,   90832.5 ,  135603.  ,  152100.  ,
         81900.  ,   62100.  ,   72675.  ,   61200.  ,  242325.  ,
        319500.  ,   99900.  , 2340000.  , 1575000.  ,  340200.  ,
         99805.5 ,  164250.  ,  414000.  ,  206550.  ,  213750.  ,
        182250.  ,  108900.  ,  371250.  ,  128250.  ,  299250.  ,
         38250.  ,  531000.  ,  517500.  ,  116365.5 ,  355500.  ,
         41400.  ,  150750.  ,   65250.  ,  197100.  ,  393750.  ,
        310500.  ,  204750.  ,  787500.  ,  114322.5 ,   28575.  ,
        104139.  ,  250456.5 ,  203530.5 ,  110700.  , 1800000.  ,
        159750.  ,  765000.  ,  116100.  ,  137700.  ,   52650.  ,
         72220.5 ,  396000.  ,  162900.  ,   48600.  ,   39600.  ,
        165150.  ,   40347.  ,  166050.  ,  576000.  ,   33300.  ,
        103230.  ,  433800.  ,   41850.  ,   66127.5 ,   96300.  ,
        167400.  ,  187650.  ,   50850.  ,  616500.  ,  124200.  ,
        308623.5 ,   86197.5 ,  132750.  ,  445500.  ,   77850.  ,
        107550.  ,  223650.  ,  216900.  ,   73350.  ,   30150.  ,
        153729.  ,   37800.  ,  323788.5 ,   64800.  ,   36900.  ,
        648000.  ,  101700.  ,   44550.  ,  109800.  ,   92700.  ,
        286650.  ,  185400.  ,   58117.5 ,  111150.  ,   45729.  ,
        107100.  ,  113998.5 ,  160884.  ,  218700.  ,  711000.  ,
        105300.  ,  223497.  ,   98100.  ,  175680.  , 1710000.  ,
        133821.  ,   32400.  ,   65700.  ,  117900.  ,  373500.  ,
        174600.  ,  189373.5 ,  526500.  ,   68998.5 ,   81702.  ,
         69300.  ,  205650.  ,  976500.  ,   84150.  ,  194850.  ,
        108085.5 ,  272857.5 ,  226350.  ,  276300.  ,  123975.  ,
         84600.  ,  127800.  ,  265050.  ,   38700.  ,   62550.  ,
        200250.  ,  146475.  ,   91935.  ,   84717.  ,  114219.  ,
         52200.  ,  139950.  ,   45900.  ,  144094.59,  250200.  ,
        177300.  ,  198292.5 ,  180234.  ,  280800.  ,  187200.  ,
         28800.  ,  222750.  ,   33750.  ,  326565.  ,  287100.  ,
         33768.  ,  179001.  ,  151713.  ,  291600.  ,   50400.  ,
        129096.  ,   70650.  ,  209250.  ,   66375.  ,  454500.  ,
        212710.5 ,  140598.  ,  241123.5 ,  258300.  ,  855000.  ,
         42750.  ,  486000.  ,  175050.  ,  145071.  ,  130464.  ,
        158400.  ,  113850.  ,  364500.  ,  151650.  ,   65682.  ,
        146389.5 ,  152550.  ,  130252.5 ,  188100.  ,   26941.5 ,
         95562.  ,   60525.  ,  115699.5 ,  355023.  ,  133200.  ,
         75964.5 ,  128700.  ,  120600.  ,   87358.5 ,  129825.  ,
        186750.  ,   93672.  ,   85050.  ,  326700.  ,   39465.  ,
        112936.5 ,   83587.5 ,   99886.5 ,   83700.  , 1912500.  ,
        285750.  ,  210600.  ,  106425.  ,  183600.  ,  159138.  ,
         50773.5 ,   68850.  ,  174150.  ,  280350.  ,   46350.  ,
        142650.  ,   63900.  ,   97875.  ,   28350.  ,  137250.  ,
        643500.  ,   36810.  ,  151200.  ,  208350.  ,   79200.  ,
        151857.  ,  144900.  ,   95422.5 ,   99225.  ,  134226.  ,
        307800.  ,  127804.5 ,  114300.  ,  147775.5 ,  124996.5 ,
        661500.  ,  168165.  ,   88650.  ,   91800.  ,  179550.  ,
        146956.5 ,  537462.  ,  227250.  ,  210375.  ,   72958.5 ,
        116550.  ,  195300.  ,   41202.  ,  201600.  ,   82800.  ,
        100800.  ,  186300.  ,  330750.  ,   77400.  ,  429750.  ,
         75469.5 ,  180900.  ,  102600.  ,  140400.  ,   31990.5 ,
        315211.5 ,  173700.  ,   73800.  ,  395100.  ,   35100.  ,
        106650.  ,  504000.  ,   88200.  ,  200965.5 ,  250821.  ,
        129375.  ,   78322.5 ,  203850.  ,   76950.  ,  146592.  ,
        477000.  ,  323100.  ,  139050.  ,  295200.  ,  236250.  ,
        144027.  ,  160555.5 ,  140971.5 ,  232650.  ,  161100.  ,
         53248.5 ,   97650.  ,  114813.  ,  444150.  ,  927000.  ,
        197113.5 ,  164700.  ,   79650.  ,  188550.  ,   83106.  ,
         54900.  ,  101106.  ,  144342.  ,  558000.  ,   36400.5 ,
        115650.  ,  189450.  , 1035000.  ,   94770.  ,   63103.5 ,
         54450.  ,   55854.  ,  432900.  ,  221818.5 , 2700000.  ,
        115200.  ,  170802.  ,  147600.  ,  190350.  ,  185337.  ,
        182700.  ,   78102.  ,  155250.  ,  140139.  ,  336375.  ,
        130050.  ,   72450.  ,   66060.  ,   40860.  ,   30600.  ,
         55341.  ,  268200.  ,  131400.  ,  135045.  ,  203400.  ,
        330300.  ,   82228.5 ,  125892.  ,  364909.5 ,  107356.5 ,
       1080000.  ,  418050.  ,   78300.  ,  393300.  ,  148392.  ,
        137713.5 ,   50121.  ,  123300.  ,  164178.  ,  264150.  ,
        194400.  ,   90868.5 ,  294750.  ,  143100.  ,   56511.  ,
        164587.5 ,   47763.  ,  353250.  ,   36202.5 ,   77787.  ,
       1260000.  ,  253800.  ,  103050.  ,  185481.  ,  240300.  ,
        418500.  ,  187879.5 ,   71550.  ,  131994.  ,  481500.  ,
         75883.5 ,  108382.5 ,   90652.5 , 3150000.  ,  165600.  ,
         57600.  ,  130779.  ,  104476.5 ,   86850.  ,  118800.  ,
        155700.  ,   79020.  ,   73867.5 ,  125100.  ,   95319.  ,
        394128.  ,  436500.  ,  243900.  ,  121468.5 ,  149400.  ,
        101556.  ,  439650.  ,  571500.  ,   97200.  ,  100350.  ,
        222682.5 ,  403200.  ,  137790.  ,  104323.5 ,  148180.5 ,
        459000.  ,   99801.  ,  160200.  ,  201150.  ,  463500.  ,
         60300.  ,  158287.5 ,  409567.5 ,  143739.  ,  132214.5 ,
         74803.5 ,  138150.  ,  162450.  ,  428850.  ,  100678.5 ,
        271651.5 ,   34650.  ,   67905.  ,  109350.  ,  310122.  ,
        161244.  ])

In [52]:
df['AMT_INCOME_TOTAL'].value_counts()

135000.0    5562
112500.0    4851
157500.0    4435
180000.0    4205
225000.0    3764
            ...
114219.0       1
84717.0        1
91935.0        1
146475.0       1
161244.0       1
Name: AMT_INCOME_TOTAL, Length: 606, dtype: int64

In [53]:
#For Female who dont have children and have income total lower 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter1 = df["CODE_GENDER"]=="F" 
mul_filter2 = df["AMT_INCOME_TOTAL"]<100000
mul_filter3 = df["CNT_CHILDREN"]=0
df.where(mul_filter1 & mul_filter2 & mul_filter3, inplace = True)

In [69]:
#For Female who dont have children and have income total above 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter1 = df["CODE_GENDER"]=="F" 
mul_filter4 = df["AMT_INCOME_TOTAL"]>100000
mul_filter3 = df["CNT_CHILDREN"]=0
df.where(mul_filter1 & mul_filter4 & mul_filter3, inplace=True)

In [70]:
#For Female who have children and have income total lower 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter1 = df["CODE_GENDER"]=="F" 
mul_filter4 = df["AMT_INCOME_TOTAL"]<100000
mul_filter5= df["CNT_CHILDREN"]>0
df.where(mul_filter1 & mul_filter4 & mul_filter5, inplace = True)

In [79]:
#For Female who have children and have income total above 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter1 = df["CODE_GENDER"]=="F" 
mul_filter6 = df["AMT_INCOME_TOTAL"]>100000
mul_filter5 = df["CNT_CHILDREN"]>0
df.where(mul_filter1 & mul_filter6 & mul_filter3, inplace = True)
mul_filter1.count()

48744

In [73]:
#For male who dont have children and have income total lower 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter7 = df["CODE_GENDER"]=="M" 
mul_filter4 = df["AMT_INCOME_TOTAL"]<100000
mul_filter3 = df["CNT_CHILDREN"]=0
df.where(mul_filter7 & mul_filter4 & mul_filter3, inplace = True)

In [78]:
#For male who dont have children and have income total above 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter7 = df["CODE_GENDER"]=="M" 
mul_filter6 = df["AMT_INCOME_TOTAL"]>100000
mul_filter3 = df["CNT_CHILDREN"]=0
df.where(mul_filter7 & mul_filter6 & mul_filter3, inplace = True)

In [76]:
#For male who have children and have income total lower 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter7 = df["CODE_GENDER"]=="M" 
mul_filter4 = df["AMT_INCOME_TOTAL"]<100000
mul_filter5 = df["CNT_CHILDREN"]>0
df.where(mul_filter7 & mul_filter4 & mul_filter5, inplace = True)

In [77]:
#For male who have children and have income total above 100000
df.sort_values("CODE_GENDER", inplace = True)
mul_filter7 = df["CODE_GENDER"]=="M" 
mul_filter6 = df["AMT_INCOME_TOTAL"]>100000
mul_filter5 = df["CNT_CHILDREN"]>0
df.where(mul_filter7 & mul_filter4 & mul_filter5, inplace = True)